<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Connector.Client.Properties.Settings.ConnectorConnectionString"
            connectionString="Data Source=ARISID;Initial Catalog=Connector;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>